# Data
pandas==2.2.2
requests==2.32.3
beautifulsoup4==4.12.3

# Database
sqlalchemy==2.0.30
psycopg2-binary==2.9.9
alembic==1.13.1

# API
fastapi==0.111.0
uvicorn==0.30.1
pydantic==2.7.1

# Pipeline
apache-airflow==2.9.1
python-dotenv==1.0.1

# Utils
python-dateutil==2.9.0
